html, body, .react-app, .react-app > div {
	width: 100%;
	height: 100%;
}
html, body {
	overflow: hidden; //prevent root scroll/pulling
}
.react-app > div {
	display: flex;
	flex-flow: column;
}

div, nav, ul {
	display: flex;
	flex-flow: column;

	> * {
		flex: 0 0 auto;
	}
}
.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
	color: #111;
}
.routetransition {
	flex: 1 1 auto;
	position:relative;
	text-align: center;

	> * {
		display: flex;
		flex-flow: column;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
}
.authdebug {
		background-color: #b00;
		bottom: 0;
		color: white;
		font-size: 12px;
		line-height: 16px;
		padding: 8px 10px;
		position: absolute;
		right: 0;
		width: 320px;
}
.form {
	background-color: #f8f8f8;
	border: 4px solid white;
	border-radius: 3px;
	box-shadow: 0 6px 16px fade(black, 15%);
	margin: 40px auto;
	width: 280px;
	transition: border-color 0.1s;
	padding: 20px;
	text-align: center;

	.form-control {
		text-align: center;
	}

	&.is-error {
		animation: shake 0.4s both;
		border-color: #e67;
	}
}

@keyframes shake {
  20% {
    transform: translate3d(8px, 0, 0);
  }

  40% {
    transform: translate3d(-4px, 0, 0);
  }

  60% {
    transform: translate3d(2px, 0, 0);
  }

  80% {
    transform: translate3d(-1px, 0, 0);
  }
}

.rt-fade {
	&-enter {
	  opacity: 0.01;

		&&-active {
		  opacity: 1;
		  transition: opacity 500ms ease-in;
		}
	}

	&-leave {
	  opacity: 1;

		&&-active {
		  opacity: 0.01;
		  transition: opacity 300ms ease-in;
		}
	}
}

.rt-expand-160 {
	&-enter {
	  max-height: 0;
		opacity: 0.01;

		&&-active {
		  max-height: 160px;
			opacity: 1;
		  transition: max-height 0.15s ease-in,
									opacity 0.15s 0.15s ease-in;
		}
	}

	&-leave {
	  max-height: 160px;
		opacity: 1;

		&&-active {
		  max-height: 0;
			opacity: 0.01;
		  transition: max-height 0.15s 0.15s ease-in,
									opacity 0.15s ease-in;
		}
	}
}

.rt-expand-60 {
	&-enter {
	  max-height: 0;
		opacity: 0.01;

		&&-active {
		  max-height: 60px;
			opacity: 1;
		  transition: max-height 0.15s ease-in,
									opacity 0.15s 0.15s ease-in;
		}
	}

	&-leave {
	  max-height: 60px;
		opacity: 1;

		&&-active {
		  max-height: 0;
			opacity: 0.01;
		  transition: max-height 0.15s 0.15s ease-in,
									opacity 0.15s ease-in;
		}
	}
}

.contentloader {
	flex: 1 1 auto;
	position: relative;
	max-height: 1000px;

	> * {
		transition: opacity 0.15s 0.15s ease-in;
	}
	&:before {
		position: absolute;
		content: "";
		display: block;
		//transform: scale(0,0);
		//transition: transform 0.15s ease-in;
		transition: opacity 0.15s 0.15s ease-in;
		top:0;
		left:0;
		border-radius: 50%;
		//background-color: black;
		width:30px;
		height:30px;
		border:3px solid fade(black, 20%);
		border-right-color: black;
		animation: spin 1s linear infinite;
		opacity: 0;
	}
	&.is-center:before {
		left: 50%;
		margin-left:-15px;
	}

	&.is-loading {
		height: 30px;
		max-height: 30px;

		> * {
			opacity: 0;
		}
		&:before {
			//transform: none;
			opacity: 1;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(-360deg);
	}
}

.portrait {
	align-items: center;
	background-color: #f6f6f6;
	border: 5px solid #ddd;
	border-radius: 50%;
	font-size: 60px;
	font-weight: 100;
	margin: 0 auto;
	justify-content: center;
	height: 100px;
	overflow: hidden;
	transition: border-color 0.3s;
	width: 100px;

	img {
		flex: 1 1 0;
		width: 100%;
	}
	&.is-large {
		height: 280px;
		width: 280px;
	}
	&.is-active {
		border-color: #2b5;
	}
}

.selectionrotator {
	.list-reset;

	display: block;
	height: 100px;
	margin-bottom: 20px;
	position: relative;
	width: 100%;

	> * {
		cursor: pointer;
		left: 50%;
		opacity: 0;
		position: absolute;
		top: 50%;
		transform: translate(35%, -50%) scale(0.01);
		transition: all 0.3s;
	}

	> :nth-child(1) {
		transform: translate(-135%, -50%) scale(0.01);
		pointer-events: none;
	}
	> :nth-child(2) {
		opacity: 1;
		transform: translate(-135%, -50%) scale(0.5);
	}
	> :nth-child(3) {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
	> :nth-child(4) {
		opacity: 1;
		transform: translate(35%, -50%) scale(0.5);
	}
	> :nth-child(5) {
		pointer-events: none;
	}
}

.pageheader {
	border-bottom: 1px solid #bbb;
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;

	nav {
		flex-flow: row;
		justify-content: space-between;

		span {
			flex: 1 1 auto;
		}

		> * {
			padding: 0 15px;
		}

		a {
			font-weight: normal;
			border-left: 1px solid #ddd;
		}
	}
}

h1 {
	font-weight: 300;
}

.characterlist {
	.list-reset;

	> li.is-active {
		background: yellow;
		font-weight: bold;
	}
}
.characterlistitem {
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-flow: column;
	height: 110px;
	justify-content: center;
	padding: 5px 15px;

	&, &:hover {
		color: #111;
		text-decoration: none;
	}
	&:hover {
		.characterlistitem__portrait {
			border-color: #2b5;
		}
	}
}
.characterlistitem__name {
	font-size: 18px;
	font-weight: 300;
}

@dnd-isover: #28d;
@dnd-candrop: fade(@dnd-isover, 30%);

.paperdoll {
	flex-flow: row wrap;
	padding: 5px;
	position: relative;
	width: 300px;
	height: 400px;

	.itemslot {
		position: absolute;

		&.is-head {
			left: 100px;
			top: 0;
		}
		&.is-jewelry {
			left: 0;
			top: 100px;
		}
		&.is-chest {
			left: 100px;
			top: 100px;
		}
		&.is-hands {
			left: 200px;
			top: 100px;
		}
		&.is-righthand {
			left: 0;
			top: 200px;
		}
		&.is-lefthand {
			left: 200px;
			top: 200px;
		}
		&.is-legs {
			left: 100px;
			top: 200px;
		}
		&.is-feet {
			left: 100px;
			top: 300px;
		}

		&.can-drop {
			border-color: @dnd-candrop;
		}
	}
}

.itemslot {
	background-color: #ddd;
	height: 90px;
	margin: 5px;
	padding: 3px;
	width: 90px;
	border: 2px solid transparent;

	&.can-drop {
		&.is-over {
			border-color: @dnd-isover;
		}
	}
}

.inventory {
	flex-flow: row wrap;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><rect x="5" y="5" width="90" height="90" fill="#ddd"/></svg>');
	width: 404px;
	min-height: 404px;
	padding-bottom: 100px;
	border: 2px solid transparent;

	&.can-drop {
		border-color: @dnd-candrop;

		&.is-over {
			border-color: @dnd-isover;
		}
	}
}

.item {
	cursor: pointer;
	background-color: black;
	height: 80px;
	width: 80px;
	transition: all 0.3s;
	position: relative;
	z-index: 0;

	&.is-dragging {
		opacity: 0;
	}

	&:hover {
		z-index: 1;
		box-shadow: 0 15px 30px fade(black, 25%);
	}
}

.item__image {
	position: relative;
	z-index: 1;
	border-radius: 2px;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.item__tooltip {
	position: absolute;
	z-index: 0;
	background-color: white;
	top:-50px;
	left:50%;
	transform: translate(-50%, 0) scale(0.001, 0.001);
	width: 300px;
	min-height: 170px;
	box-shadow: 0 15px 30px fade(black, 25%);
	transition: transform 0.3s;
	padding-bottom: 10px;

	.item:hover & {
		transform: translate(-50%,0);
		transition: transform 0.3s 0.7s;
	}
}
.item__name {
	font-size: 22px;
	line-height: 50px;
	font-weight: 300;
	height: 140px;
}
.item__details {
	justify-content: space-between;
	padding: 0 10px;
}
.item__combat {
	font-weight: bold;
	color: #2b5;
}
.item__type {
	font-style: italic;
	color: #777;
}

.combattotal {
	margin: 10px 0 15px;
	font-weight: bold;
}
.combattotal__value {
	font-size: 48px;
	line-height: 52px;
}
.combattotal__label {
	font-size: 12px;
	line-height: 14px;
}

.combatdistribution {
	.list-reset;
	flex-flow: row;
	font-size: 10px;
	height:20px;
	color:white;
	font-weight: bold;
	text-align: left;
	line-height: 18px;

	> * {
			flex: 0 0 0;
			overflow: hidden;
			margin-right: 1px;
			background: #333;
			transition: flex-grow 0.2s;
			position: relative;
			overflow: hidden;

			> span {
				position: absolute;
				top: 0;
				left: 5px;
			}

			&.is-armor {
				background: #779;
			}
			&.is-attack {
				background: #b25;
			}
			&.is-poison {
				background: #2b5;
			}
	}
}

.rt-flex-grow {

	&-enter {
		flex-grow: 0 !important;

		&&-active {
		}
	}

	&-leave {

		&&-active {
			flex-grow: 0 !important;
		}
	}
}

.itempanes {
	margin: 15px -10px 0;
	flex-flow: row;
	justify-content: center;
	align-items: flex-start;
}

.pane {
	margin: 0 10px;
}
.pane__content {

}
.pane__heading {
	font-weight: bold;
	border-bottom: 5px solid black;
	text-align: left;
	font-size: 12px;
	line-height: 24px;
	margin-bottom: 6px;
}

.combatlog {
	.list-reset;
	background-color: fade(black, 7%);
	border-radius: 5px;
	padding: 15px;
	width: 320px;
	margin: 0 auto;
	height: 320px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.combatlog__event {
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	border-bottom: 1px solid fade(black, 7%);

	i {
		font-size: 18px;
	}

	&.is-character {
		flex-flow: row;

		> i {
			margin-right: 0.4em;
		}
	}
	&.is-monster {
		flex-flow: row-reverse;

		> i {
			margin-left: 0.4em;
		}
	}
	&.is-attack {
		color: #dd0022;
	}
	&.is-defense {
		color: #667799;
	}
	&.is-poison {
		color: #228800;
	}
}

.characterinfotabs {
	flex: 1 1 auto;
	overflow: hidden;
}
.characterinfotabs__headers {
	.list-reset;
	background: #ddd;
	flex-flow: row;

	> * {
		flex: 1 0 auto;
		width: 33%;
	}

	li {
		background: transparent;
		border: 0 none;
		cursor: pointer;
		display: block;
		font-weight: bold;
		line-height: 40px;
		transition: background-color 0.2s;

		&.is-active {
			background: #678;
		}
	}

	li + li {
		border-left: 1px solid #ccc;
	}

	@media (min-width: 960px) {
		display: none;
	}
}
.characterinfotabs__regionscontainer {
	flex: 1 1 auto;
	position: relative;
}
.characterinfotabs__regions {
	.list-reset;
	bottom: 0;
	flex-flow: row;
	position: absolute;
	top: 0;
	transition: left 0.2s;
	width: 300%;

	> * {
		flex: 1 0 auto;
		overflow-y: auto;
		width: 33%;
	}

	@media (min-width: 960px) {
		left: 0 !important;
		width: 100%;
	}
}

.characterthumb {
	align-items: center;
	flex-flow: row;
}
.characterthumb__portrait {

}
.characterthumb__info {
	flex: 1 1 auto;
	padding-left: 15px;
	text-align: left;
}

.characters {
	flex: 1 1 auto;
	overflow: auto;
}

.character {
	flex: 1 1 auto;
}

.character__header {
	padding: 5px 15px;
}

.characteritem {
	border-bottom: 1px solid #ddd;
	flex-flow: row;

	&.is-equipped {
		.characteritem__toggle {
			background: #295;
		}
		.characteritem__combat {
			color: #295;
		}
		.characteritem__sell {
			transform: scale(0);
		}
	}
}
.characteritem__info {
	flex: 1 1 auto;
	padding: 10px;
	text-align: left;
}
.characteritem__name {
	font-weight: bold;
}
.characteritem__type {
	font-style: italic;
	color: #999;
}
.characteritem__combat {
}
.characteritem__sell {
	align-self: center;
	border: 0 none;
	height: 40px;
	border-radius: 50%;
	width: 40px;
	margin-right: 10px;
	background: #db3;
	transition: transform 0.2s;
}
.characteritem__toggle {
	align-self: center;
	border: 0 none;
	height: 40px;
	border-radius: 50%;
	width: 40px;
	margin-right: 10px;
}

.hearts {
	flex-flow: row;
}
