.characteritemlist {
	padding: 15px;
}
.characteritem {
	margin-bottom: 15px;
	width: 100%;
}
.characteritem__content {
	align-items: stretch;
	background: white;
	border: 0 none;
	border-radius: .28571429rem;
	box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
	display: flex;
	flex-flow: row;
	overflow: hidden;
	text-align: left;
	padding: 0;
	width: 100%;
}
.characteritem__image {
	flex: 0 0 auto;
	padding: 4px;
	width: 90px;

	> img {
		border-radius: 4px;
		display: block;
		height: auto;
		width: 100%;
	}
}
.characteritem__info {
	flex: 1 1 auto;
	padding: 10px;

	h4 {
		margin-bottom: 2px;
	}
}
.characteritem__bonuses {
	color: green;
	font-size: 12px;
	margin-bottom: 3px;
}
.characteritem__actions {
	padding: 20px 0 0;
	text-align: center;

	> * {
		display: inline-block;
		width: 70px;
	}

	.ui.button {
		margin: 0;
	}
	.ui.checkbox {
		margin-bottom: 5px;
	}
}
.cardflipper {
	width: 290px;
	height: 290px;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
	perspective: 500px;

	.ui.card {
		position: absolute;
		width: auto;
		height: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		transition: transform 0.4s;
		backface-visibility: hidden;
		 /* autoprefixer: off */
		-webkit-backface-visibility: hidden;
		 /* autoprefixer: on */

		&:first-child {
			transform: rotateY(0);
		}
		&:last-child {
			transform: rotateY(180deg);
		}

		.meta {
			color: green;
		}
	}

	.descriptipn {
		font-style: italic;
	}

	&.is-flipped {
		.ui.card {
			&:first-child {
				transform: rotateY(-180deg);
			}
			&:last-child {
				transform: rotateY(0);
			}
		}
	}
}
.buttonlabel {
	font-size: 12px;
	margin-top: 1em;
	opacity: 0.5;
}
