.characterlist {
	.list-reset;

	// > li.is-active {
	// 	background: yellow;
	// 	font-weight: bold;
	// }
}
.characterlistitem {
	border-bottom: 1px dotted fade(black, 30%);
	display: block;
	// flex-flow: column;
	// height: 110px;
	// justify-content: center;
	padding: 10px 10px;
	transition: background-color 0.2s;

	&, &:hover {
		// color: #111;
		text-decoration: none;
	}
	&:hover {
		background-color: fade(white, 5%);
	}
	// .no-touch &:hover {
	// 	.characterlistitem__portrait {
	// 		border-color: #2b5;
	// 	}
	// }
}
// .characterlistitem__name {
// 	font-size: 18px;
// 	font-weight: 300;
// }
