.characteritem {
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-flow: row;

	&.is-equipped {
		.characteritem__toggle {
			border-color: #295;
			color: #295;
		}
		.characteritem__combat {
			color: #295;
		}
		.characteritem__sell {
			transform: scale(0);
		}
	}
}
.characteritem__info {
	flex: 1 1 auto;
	padding: 10px 15px;
	text-align: left;
}
.characteritem__name {
	font-weight: bold;
}
.characteritem__type {
	font-style: italic;
	color: #999;
}
.characteritem__combat {
}
.characteritem__sell {
	align-self: center;
	border: 0 none;
	height: 40px;
	border-radius: 50%;
	width: 40px;
	margin-right: 15px;
	background: #db3;
	transition: transform 0.2s;
}
.characteritem__toggle {
	align-self: center;
	background: transparent;
	border: 3px solid #ccc;
	border-radius: 50%;
	color: #ccc;
	cursor: pointer;
	font-size: 16px;
	height: 40px;
	margin-right: 15px;
	width: 40px;

	outline: 0 none;
}
