.characterinfotabs {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column;
	overflow: hidden;
}
.characterinfotabs__headers {
	display: flex;
	.list-reset;
	flex-flow: row;

	> * {
		flex: 1 0 auto;
		width: 50%;
	}

	li {
		background: fade(black, 30%);
		border-top: 3px solid fade(black, 20%);
		color: @link-color;
		cursor: pointer;
		display: block;
		font-weight: bold;
		line-height: 40px;
		transition: background-color 0.2s;

		&.is-active {
			background: transparent;
			border-top-color: @link-color;
			color: @body-text-color;
		}
	}

	// li + li {
	// 	border-left: 1px solid @body-bg;
	// }

	@media (min-width: 640px) {
		display: none;
	}
}
.characterinfotabs__regionscontainer {
	flex: 1 1 auto;
	position: relative;

	@media (min-width: 640px) {
		border-top: 1px solid #ccc;
	}
}
.characterinfotabs__regions {
	.list-reset;
	bottom: 0;
	display: flex;
	flex-flow: row;
	position: absolute;
	top: 0;
	transition: left 0.2s;
	width: 200%;

	> * {
		flex: 1 0 auto;
		width: 50%;
		//
		// @media (min-width: 960px) {
		// 	&:first-child {
		// 		flex: 1 1 auto;
		// 		width: auto;
		// 	}
		// 	&:nth-child(n+2) { // not first
		// 		border-left: 1px solid #ccc;
		// 		flex: 0 0  auto;
		// 		width: 740px;
		// 	}
		// }
	}

	@media (min-width: 640px) {
		left: 0 !important;
		width: 100%;
	}
}
