.characteritem {
	padding: 10px;
	width: 100%;
	margin-bottom: -10px;
}
.characteritem__content {
	background: white;
	border: 0 none;
	border-radius: .28571429rem;
	box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
	display: flex;
	flex-flow: row;
	overflow: hidden;
	text-align: left;
	padding: 0;
	width: 100%;
}
.characteritem__image {
	flex: 0 0 auto;
	width: 90px;

	> img {
		display: block;
		height: auto;
		width: 100%;
	}
}
.characteritem__info {
	flex: 1 1 auto;
	padding: 10px 15px;

	h4 {
		margin-bottom: 5px;
	}
}
