.characterthumb {
	align-items: center;
	color: #111;
	display: flex;
	flex-flow: row;
}
.characterthumb__name {
	margin-bottom: 5px;
}
// .characterthumb__portrait {
//
// }
.characterthumb__info {
	flex: 1 1 auto;
	padding-left: 10px;
	text-align: left;
}
