.pageheader {
	background-color: fade(white, 5%);
	border-bottom: 1px solid fade(black, 20%);
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;

	nav {
		display: flex;
		flex-flow: row;
		justify-content: space-between;

		span {
			flex: 1 1 auto;
		}

		> * {
			padding: 0 15px;
		}

		a {
			// font-weight: normal;
			border-left: 1px solid fade(black, 20%);
			line-height: 40px;
		}
		i {
			//font-size: 20px;
			//color: black;
		}
	}
}
