html, body, .react-app, .react-app > div {
	width: 100%;
	height: 100%;
}
html, body {
	overflow: hidden; //prevent root scroll/pulling
}
body {
	background-color: @body-bg;
	color: @body-text-color;
	font-family: Lato, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}
// .scrollable {
//   overflow: auto;
//   overflow-x: hidden;
//   -webkit-overflow-scrolling: touch;
// }
// .scrollable * {
//   -webkit-transform: translate3d(0,0,0);
// }
a {
	color: @link-color;
	transition: color 0.2s;

	&:hover {
		color: lighten(@link-color, 10%);
	}
}
p {
	margin: 0 0 20px;
}
.pagetemplate {
	align-items: stretch;
	bottom: 0;
	display: flex;
	flex-flow: column;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	> * {
		flex: 0 0 auto;
	}
}
.routetransition {
	flex: 1 1 auto;
	position:relative;
	text-align: center;

	> * {
		display: flex;
		flex-flow: column;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}
}
.ui.fluid.button {
	margin-bottom: 10px;
}
.ui.progress .bar {
	min-width: 0;
}
.transition > * {
	animation: fadein 0.4s;
}
.ui.segment {
	background-color: fade(white, 5%);
}
// .ui.basic.button {
// 	background-color: fade(black, 30%) !important;
//
// 	&:hover {
// 		background-color: fade(black, 50%) !important;
// 	}
// }
.ui.progress {
	background-color: fade(white, 15%);
}
// .ui.basic.pink.label {
// 	background-color: transparent !important;
// }

.text-bonus {
	color: @success-color;
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	30% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
